@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom variables */
:root {
    /* ## Colors  */
    /* ### Primary  */
    --cl-VeryDarkBlue: hsl(243, 87%, 12%);
    --cl-DesaturatedBlue: hsl(238, 22%, 44%);
    /* ### Accent  */
    --cl-BrightBlue: hsl(224, 93%, 58%);
    --cl-ModerateCyan: hsl(170, 45%, 43%);
    /* ### Neutral  */
    --cl-LightGrayishBlue: hsl(240, 75%, 98%);
    --cl-LightGray: hsl(0, 0%, 75%);
}

/* global css */
body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
nav {
    font-family: 'Raleway', sans-serif;

}


/* header */
.header-content h1 {
    font-size: 1.6rem;
}

.header-content p {
    font-size: .95rem;
}

/* section 1 */
.section-1 {
    padding-top: 2rem;
    margin-top: 7rem;
    padding-bottom: 3rem;
}

.user-comment {
    width: 17rem;
    padding: 1rem 1.7rem;

}

.user-comment p {
    font-size: .61rem;
}

.user-comment-footer>div>h2 {
    font-size: .75rem;
}

.user-comment-footer>div>p {
    font-size: .55rem;
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
    height: 2rem;
    width: 2rem;
    padding: .45rem;
}