@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom variables */
:root {
    /* ## Colors  */
    /* ### Primary  */
    --cl-VeryDarkBlue: hsl(243, 87%, 12%);
    --cl-DesaturatedBlue: hsl(238, 22%, 44%);
    /* ### Accent  */
    --cl-BrightBlue: hsl(224, 93%, 58%);
    --cl-ModerateCyan: hsl(170, 45%, 43%);
    /* ### Neutral  */
    --cl-LightGrayishBlue: hsl(240, 75%, 98%);
    --cl-LightGray: hsl(0, 0%, 75%);
}

/* global css */
body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
nav {
    font-family: 'Raleway', sans-serif;

}


/* header */
.header-content h1 {
    font-size: 1.6rem;
}

.header-content p {
    font-size: .95rem;
}

/* section 1 */
.section-1 {
    padding-top: 2rem;
    margin-top: 7rem;
    padding-bottom: 3rem;
}

.section-1-p {
    font-size: .9rem;
}

.user-comment {
    width: 17rem;
    padding: 1rem 1.7rem;

}

.user-comment p {
    font-size: .61rem;
    opacity: .8;
}

.user-comment-footer>div>h2 {
    font-size: .75rem;
}

.user-comment-footer>div>p {
    font-size: .55rem;
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
    height: 2rem;
    width: 2rem;
    padding: .45rem;
}

/* queris */
@media (min-width:768px) {

    /* header */
    .header-content h1 {
        font-size: 1.3rem;
    }

    .header-content p {
        font-size: .65rem;
    }

    /* section 1 */
    .section-1-p {
        font-size: .7rem;
    }

    .user-comment {
        width: 15rem;
        padding: 1rem 1.2rem;
    }

    .user-comment p {
        font-size: .6rem;
    }

    .user-comment-footer>div>h2 {
        font-size: .65rem;
    }

    .user-comment-footer>div>p {
        font-size: .45rem;
    }

    /* section 2 */
    .section-2-img {
        width: 66.6%;

    }
}

@media (min-width:968px) {

    /* header */
    .header-content h1 {
        font-size: 1.5rem;
    }

    .header-content p {
        font-size: .75rem;
    }
}

@media (min-width:1440px) {

    /* header */
    .header-content h1 {
        font-size: 2.5rem;
    }

    .header-content p {
        font-size: 1.1rem;
    }

    /* section 1 */
    .section-1-p {
        font-size: .95rem;
    }

    .user-comment {
        width: 21rem;
    }

    .user-comment p {
        font-size: .85rem;
        line-height: 1.5;
    }

    .user-comment-footer>div>h2 {
        font-size: .8rem;
    }

    .user-comment-footer>div>p {
        font-size: .55rem;
    }

    /* section 2 */
    /* .section-2-img {
        width: 40rem;

    } */
}